body {
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  overflow-x: hidden;
}

.navbar-default {
  border-color: #777 !important;
  z-index: 1 !important;
}

.dright {
  top: 0% !important;
}

.sidenavbtn {
  background: none;
}

.sidenavbtn:hover {
  background: #09bb44;
}

.langGuideIntro {
  padding: 20px;
}

#langGuideCont {
  padding: 30px;
}

.sideNav {
  position: fixed;
  cursor: pointer;
  background: #0fe055;
  box-shadow: -5px 3px 4px #0c0c0c;
  height: 200px;
  color: rgb(24, 23, 23);
  font-size: 20px;
  padding-top: 20px;
  font-family: sans-serif;
  border-radius: 6px;
  clip-path: circle(20px at 45px 33px);
  transform: translateY(48px);

}

.sideNavicon {
  border-radius: 20px;
  padding: 0px 35px;
  height: 26px;
  margin-right: 80px;
}

.sideNav:hover {
  animation-name: sidebar;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes sidebar {
  0% {
    clip-path: circle(20px at 45px 33px);
  }

  25% {
    clip-path: circle(100px at 45px 33px);
  }

  50% {
    clip-path: circle(200px at 45px 33px);
  }

  75% {
    clip-path: circle(300px at 45px 33px);
  }

  100% {
    clip-path: circle(300px at 45px 33px);
  }

}

.sideNav:hover .sideNavicon {
  display: none;
}

.btnlink {
  padding: 10px;
}

.sidenavbtn {
  padding-left: 10px;
}

.langBackground {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  ;
}

.langGuideMainCont {
  color: rgb(255, 255, 255);
}

.outerCont {
  margin: 40px 0px;
  padding: 20px;
}

.innerCont {
  padding: 10px;
}

.LangContHead {
  font-size: 30px;
  font-family: Alegreya Sans SC;
}

.mainContLang {
  margin: 50px;
}

.cont {
  padding: 10px;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif !important;
}

.navbar-left {
  background-image: url("../img/icon/Colorful\ Glowing\ Background\ Vector.jpg");
  background-position-x: 0px;
  background-size: cover;
  border-radius: 10px;
  animation-name: navLeft;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  transform: translateY(30px);
}

@keyframes navLeft {
  0% {
    background-position-x: 100%;
  }

  25% {
    background-position-x: 75%;
  }

  50% {
    background-position-x: 50%;
  }

  75% {
    background-position-x: 25%;
  }

  100% {
    background-position-x: 0%;
  }
}

.sideLeft>li>a {
  mix-blend-mode: luminosity !important;
  color: rgb(0, 0, 0) !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-variant-caps: petite-caps;
  font-size: 14px;
}

.nav>li>a:hover {
  border-radius: 10px;
}

.nav>li>.vline {
  border-radius: 10px;
  text-shadow: -9px 4px 11px #000000;
}

.langTitle {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #4fbe0f;
}

#langguide {
  color: #4fbe0f;
}

.cont>ol>li {
  padding: 10px;
}

.langGuideMain {
  padding-left: 48px;
}