body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.vline{
    border-left:3px solid rgb(199, 155, 35);
  }
#head{
    text-decoration: none;
    font-size:30px;
    font-family: Alegreya Sans SC ;
    text-shadow: 4px 2px 3px #3333334d;
}
.imgstat{
    margin-bottom: 0px;
    padding-bottom: 2px;
  }
#txtdeco{
  text-decoration: none;
}
#navtop{
  background:-webkit-linear-gradient(45deg, rgb(42 227 56 / 70%), rgb(221 177 18 / 62%) 100%);
  border-bottom: 5px solid rgb(199, 155, 35);
  background-color: transparent!important;
}


.dropdown{
  background-color: transparent;
    border-color: transparent;
    color: gray;
    outline: none;
}
#navtop:not{
  background:transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-bottom: 5px solid #c79b23;
  color:rgba(63, 61, 61, 0.651)
}
.dropdown-menu {
  background:#65d825b0!important;

}
.navbar-nav>li>a{
  color: #555!important;
}
.navbar-nav>.open>a{
  background-color: #65d825b0!important;
}
.navbar-nav>li>a:hover{
   background-color:#65d825b0 !important;
   color:black!important;
}

.image{
  padding-left: 150px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#img{
  border: solid black;
  border-radius: 20px;
}
#content1{
  margin-top: 160px;
}
html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-section{
    margin:0 auto;
    margin:130px;
    padding:0
}
.form-cont{
  background: -webkit-gradient(linear, left top, right top, from(rgba(137, 189, 15, 0.678)), to(rgba(189, 146, 29, 0.589)));
  background: -moz-gradient(linear, left top, right top, from(rgba(137, 189, 15, 0.678)), to(rgba(189, 146, 29, 0.589)));
  background: gradient(linear, left top, right top, from(rgbrgba(137, 189, 15, 0.678)), to((rgbrgba(189, 146, 29, 0.589))));
    border-radius: 10px;
    padding:0 18px;

}
.user-img img{
    height:120px;
    width:120px;
    border-radius: 30px;
    border-top: solid;
    border-left: solid;
}
.user-img{
    margin-top: -60px;
    margin-bottom: 45px;
}
.form-group{
    margin-bottom: 25px;
    
}
.form-group input{

    height:42px;
    border-radius: 5px;
    font-size:18px;
    letter-spacing: 2px;
    padding-left: 30px;
    

}
.form-group::before{
    

    font-size: 18px;
    left: 28px;
    padding-top: 4px;
    columns: #555e60;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.btn-block{
  width:25%!important;
  margin-left: 135px;
}
